* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  height: 100vh;
  width: 100%;
}

#navhead-section {
  width: 100%;
  height: 100vh;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/18/banner/e-learning-now-serious.jpg);
  background-size: cover;
  background-position: -135px;
}
#navhead-section .text-head {
  padding-left: 4%;
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-top: 4%;
  text-align: center;
  color: white;
  align-items: flex-start;
}
#navhead-section .text-head .text-h1 {
  margin-right: 20%;
  text-align: left;
  height: 30%;
  width: 70%;
  font-size: 50px;
  font-weight: 300;
  font-family: serif;
  line-height: 60px;
  margin-top: 10%;
  font-stretch: 100%;
}
#navhead-section .text-head .text-p {
  border: 1px solid white;
  margin-top: 6%;
  display: inline-block;
  height: 15%;
  width: 16%;
}

#text-read_more {
  text-decoration: none;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
}

.text-p {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 1s ease;
}

.text-p::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 0%;
  transition: 1s ease;
  transform: translateX(50%);
}

.text-p:hover::before {
  transform: translateX(0%);
  width: 100%;
  background-color: rgb(0, 0, 0);
}

#nav {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0%;
}
#nav #head-infosys {
  margin-right: 6%;
}

.nav-container {
  width: 60%;
  height: 35%;
  margin-left: 6%;
  margin-top: 2%;
  padding-left: 3%;
}

#head-infosys {
  justify-self: flex-start;
  font-size: xx-large;
  color: white;
  margin-left: 4%;
}

.nav-anchors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6%;
  margin-left: 6%;
  width: 100%;
  height: 100%;
}
.nav-anchors li {
  list-style-type: none;
}
.nav-anchors li a {
  text-decoration: none;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 550;
}

#magnify-div {
  height: 30%;
  width: 5%;
  margin-top: 3%;
  margin-right: 5%;
}
#magnify-div #magnify-anchor {
  display: inline-block;
  height: 100%;
  width: 100%;
}
#magnify-div #magnify-anchor #magnify-icon {
  display: inline-block;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  font-size: x-large;
  text-align: end;
  cursor: pointer;
}

.hamburger-icon {
  width: 4%;
  height: 45%;
  margin-right: 4%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 100%;
  margin-top: 2%;
  cursor: pointer;
}

.owl1 {
  background-color: black;
  height: 2px;
  width: 20px;
}

.owl2 {
  background-color: black;
  height: 2px;
  width: 12px;
}

.owl3 {
  background-color: black;
  height: 2px;
  width: 20px;
}

.main_sect-container {
  height: 100vh;
  width: 100%;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/responsive/newdesign/digital-capabilities-lead.png);
  background-position: 100%;
  background-color: #a76303;
  background-size: cover;
}

.sub-main_sect {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sub-main_sect .div1 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.sub-main_sect .div1 .digital-core {
  height: 30%;
  width: 50%;
  color: white;
  font-weight: 900;
  font-size: 50px;
  line-height: 4;
  font-family: "Times New Roman", Times;
  margin-top: 3%;
  margin-left: 5%;
}
.sub-main_sect .div1 .build-vital {
  color: white;
  margin-left: 5%;
  line-height: 6;
  font-style: oblique;
  font-size: 22px;
  margin-top: 1.5%;
  width: 50%;
}

.explore-div {
  height: 5%;
  width: 10%;
  border: 1px solid white;
  margin-left: 5%;
}
.explore-div .explore-para {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-div .explore-para #explore-anchor {
  text-decoration: none;
  color: white;
}

.explore-div {
  height: 7%;
  width: 12%;
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 2s ease;
}

.explore-div:hover::before {
  transform: translateX(0%);
  width: 100%;
  transition: 1s ease;
}

.explore-div::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  width: 0%;
  height: 100%;
  transition: 0.6s ease;
  background-color: black;
  transform: translateX(50%);
}

.case-st-container {
  display: flex;
  width: 100%;
  height: 15%;
  padding-left: 5%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.case-st-container .case-st-div1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}
.case-st-container .case-st-div1 .case_studies {
  line-height: 5;
  font-size: small;
  color: rgb(170, 167, 167);
}
.case-st-container .case-st-div1 .view-para2 {
  line-height: 4;
}
.case-st-container .case-st-div1 .view-para2 #view1 {
  text-decoration: none;
  color: white;
}
.case-st-container .case-st-div2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}
.case-st-container .case-st-div2 .nbsp {
  line-height: 4;
}
.case-st-container .case-st-div2 .view-para2 {
  line-height: 4;
}
.case-st-container .case-st-div2 .view-para2 #view2 {
  display: inline-block;
  text-decoration: none;
  color: white;
}

#section-2 {
  height: 100vh;
  width: 100%;
  background-color: #0067a0;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/responsive/newdesign/digital-operating-models-lead.png);
  background-position: 0%;
  background-size: cover;
}

.main-sect-2 {
  height: 50vh;
  width: 50%;
  float: right;
  margin-top: 4%;
  color: white;
  display: flex;
  flex-direction: column;
}

.dig-model {
  margin-top: 5%;
}
.dig-model .dig-head {
  font-size: 50px;
  line-height: 2;
}
.dig-model .dig-para {
  line-height: 4;
  font-size: large;
  font-style: oblique;
}
.dig-model .explore1-para {
  display: inline-block;
  width: 25%;
  line-height: 3;
  border: 1px solid white;
  text-align: center;
}
.dig-model .explore1-para #explore1-anchor {
  text-decoration: none;
  color: white;
}

.explore1-para {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 1s ease;
}

.explore1-para:hover::before {
  transform: translateX(0%);
  width: 100%;
}

.explore1-para::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 0%;
  background-color: black;
  transform: translateX(50%);
  transition: 1s ease;
}

.sub-digtal_model {
  display: flex;
  width: 100%;
  height: 100%;
}
.sub-digtal_model .clint-speak-div {
  width: 50%;
  height: 100%;
}
.sub-digtal_model .clint-speak-div .client-speak {
  line-height: 4;
  color: rgb(170, 167, 167);
}
.sub-digtal_model .clint-speak-div .client-speak-head {
  line-height: 1.4;
}
.sub-digtal_model .clint-speak-div .client-speak-para {
  line-height: 4;
}
.sub-digtal_model .clint-speak-div .client-speak-para #sec2-view1 {
  text-decoration: none;
  color: white;
}
.sub-digtal_model .client-testimonial-div {
  width: 40%;
  height: 100%;
  padding-left: 5%;
}
.sub-digtal_model .client-testimonial-div .client-test1 {
  line-height: 4;
  color: rgb(170, 167, 167);
}
.sub-digtal_model .client-testimonial-div .client-testi-head {
  line-height: 1.4;
}
.sub-digtal_model .client-testimonial-div .client-testi-para {
  line-height: 4;
}
.sub-digtal_model .client-testimonial-div .client-testi-para #sec2-view2 {
  text-decoration: none;
  color: white;
}

.sec3-container {
  height: 100vh;
  width: 100%;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/responsive/newdesign/talent-transformations-lead-tab.png);
  background-position: 100%, 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #801f7e;
  color: white;
}

.sec3-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sec3-subdiv-cont {
  width: 45%;
  height: 42%;
  text-align: left;
  margin-top: 5%;
  margin-left: 5%;
}
.sec3-subdiv-cont .sec3-subdiv-head {
  font-size: 3.5em;
  font-family: "Open Sans", "Helvetica Neue";
  line-height: 1.3;
}
.sec3-subdiv-cont .sec3-subdiv-para {
  font-size: 1.4em;
  font-style: oblique;
  line-height: 2;
  margin-bottom: 5%;
  margin-top: 2%;
}
.sec3-subdiv-cont .sec3-subdiv-anchor_para {
  height: 15%;
  width: 25%;
  border: 1px solid white;
  text-align: center;
}
.sec3-subdiv-cont .sec3-subdiv-anchor_para #sec3-explore {
  display: inline-block;
  padding-top: 7%;
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
}

.sec3-subdiv-cont1 {
  display: flex;
  width: 100%;
  height: 50%;
}

.subdiv-cont1-div1 {
  width: 25%;
  height: 50%;
  margin-left: 5%;
}
.subdiv-cont1-div1 .insights {
  line-height: 4;
  color: rgb(171, 165, 165);
}
.subdiv-cont1-div1 .insights-head {
  line-height: 1;
}
.subdiv-cont1-div1 .insights-para {
  line-height: 1;
  width: 30%;
  height: 25%;
}
.subdiv-cont1-div1 .insights-para #insights-view {
  padding-top: 12%;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.subdiv-cont1-div2 {
  width: 20%;
  height: 50%;
  margin-left: 1%;
}
.subdiv-cont1-div2 .nbsp2 {
  line-height: 4;
}
.subdiv-cont1-div2 .nbsp-head {
  line-height: 1;
}
.subdiv-cont1-div2 .nbsp-para {
  line-height: 3;
}
.subdiv-cont1-div2 .nbsp-para #nbsp-view {
  text-decoration: none;
  color: white;
}

.sec3-subdiv-anchor_para {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 1s ease;
}

.sec3-subdiv-anchor_para:hover::before {
  transform: translateX(0%);
  transition: 1s ease;
  width: 100%;
}

.sec3-subdiv-anchor_para::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 0%;
  transition: 0.6s ease;
  transform: translateX(50%);
  background-color: black;
}

.sec4-the_next {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.next-content {
  height: 25vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: white;
  text-align: center;
}
.next-content .do-more img {
  margin-top: 6%;
}
.next-content .the-next h1 {
  color: black;
  margin-top: 5px;
  font-size: 40px;
}
.next-content .the-next-para p {
  width: 50%;
  height: 5%;
  color: rgb(130, 130, 130);
  margin-left: 25%;
  font-weight: 10;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  margin-top: 1%;
  font-size: 35px;
}

.transition-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.transition-div .vr-div {
  margin-left: 5%;
  height: 80%;
  width: 45%;
}
.transition-div .vr-div .suvdiv-vr {
  padding-left: 3%;
  color: white;
  font-size: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.transition-div .vr-div .suvdiv-vr h1 {
  line-height: 2;
}
.transition-div .vr-div .suvdiv-vr h3 {
  line-height: 2;
}
.transition-div .vr-div .suvdiv-vr p {
  margin-bottom: 2%;
}

.transition-div2 {
  display: flex;
  width: 50%;
  height: 100%;
}
.transition-div2 .after-vr-div {
  height: 80%;
  width: 100%;
}
.transition-div2 .after-vr-div .subafter-vr1 {
  padding-left: 3%;
  height: 50%;
  width: 100%;
  border-left: 2px solid blue;
  border-top: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  background-size: 100% 100%;
}
.transition-div2 .after-vr-div .subafter-vr1 h1 {
  line-height: 2;
}
.transition-div2 .after-vr-div .subafter-vr1 h3 {
  line-height: 1;
}
.transition-div2 .after-vr-div .subafter-vr1 p {
  margin-bottom: 2%;
}
.transition-div2 .after-vr-div .subafter-vr2 {
  padding-left: 3%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/home/images/innovate.jpg); /* Innovate */
  background-size: cover;
  background-size: 100% 100%;
}
.transition-div2 .after-vr-div .subafter-vr2 h1 {
  line-height: 2;
}
.transition-div2 .after-vr-div .subafter-vr2 h3 {
  line-height: 2;
}
.transition-div2 .after-vr-div .subafter-vr2 p {
  margin-bottom: 2%;
}

.after2-vr-2 {
  margin-right: 5%;
  height: 80%;
  width: 100%;
}
.after2-vr-2 .sub-after1 {
  padding-left: 3%;
  color: white;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/home/images/accelerate.jpg); /* Accelerate */
  background-size: 100% 100%;
}
.after2-vr-2 .sub-after1 h1 {
  line-height: 2;
}
.after2-vr-2 .sub-after1 h3 {
  line-height: 0.4;
  margin-bottom: 2%;
}
.after2-vr-2 .sub-after1 p {
  margin-bottom: 2%;
}
.after2-vr-2 .sub-after2 {
  padding-left: 3%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/home/images/assure.jpg); /* Assured */
  background-size: 100% 100%;
}
.after2-vr-2 .sub-after2 h1 {
  line-height: 2;
}
.after2-vr-2 .sub-after2 h3 {
  line-height: 1;
}
.after2-vr-2 .sub-after2 p {
  margin-bottom: 2%;
}

.suvdiv-vr {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

/* Text Translate Starts */
.suvdiv-vr h1 {
  transition: 0.5s ease;
  transform: translateY(160%);
}

.suvdiv-vr h3,
.suvdiv-vr p {
  transform: translateY(200%);
  transition: 0.5s ease;
  opacity: 0;
}

.suvdiv-vr:hover h1 {
  transform: translateY(-50%);
}

.suvdiv-vr:hover h3,
.suvdiv-vr:hover p {
  transform: translateY(-80%);
  opacity: 0.8;
}

/* Text Translate Ends */
/* background-image content starts */
.suvdiv-vr:hover::before {
  transform: scale(1.2);
}

.suvdiv-vr::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/home/images/experience.jpg); /*Expereince*/
  background-size: cover;
  background-position: center;
  transition: transform 1s ease;
}

/* background-image content Ends */
/* background-color content  */
.suvdiv-vr:hover::after {
  transform: translateY(0%);
  height: 100%;
}

.suvdiv-vr::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 0%;
  width: 100%;
  background-color: rgba(20, 19, 19, 0.477);
  transition: 0.4s ease;
  transform: translateY(0%);
}

/* background-color ends */
/* Insight ---->> */
/* Text Translate Starts */
.subafter-vr1 h1 {
  transition: 0.5s ease;
  transform: translateY(100%);
}

.subafter-vr1 h3,
.subafter-vr1 p {
  transform: translateY(50%);
  transition: 0.5s ease;
  opacity: 0;
}

.subafter-vr1:hover h1 {
  transform: translateY(-150%);
}

.subafter-vr1:hover h3 {
  transform: translateY(-280%);
  opacity: 0.8;
}

.subafter-vr1:hover p {
  transform: translateY(-100%);
  opacity: 0.8;
}

/* Text Translate Ends */
/* Insight background-image*/
.subafter-vr1 {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 1s ease;
  overflow: hidden;
}

.subafter-vr1:hover::before {
  transform: scale(1.2);
  transition: 1s ease;
}

.subafter-vr1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/home/images/insight.jpg);
  background-size: cover;
  background-position: center;
  transition: transform 1s ease;
  height: 100%; /* Doubt :- Have something in mind follow above background-image link of experience image ^ and read out loud its height 0% but still image is showing its apperenace but why?*/
  width: 100%;
}

.subafter-vr1:hover::after {
  transform: translateY(0%);
  height: 100%;
}

.subafter-vr1::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 0%;
  width: 100%;
  background-color: rgba(20, 19, 19, 0.477);
  transition: 0.4s ease;
  transform: translateY(0%);
}

/* <----- Insights */
/* Innovate ---->> */
/* Text transfrom starts */
.subafter-vr2 h1 {
  transition: 0.5s ease;
  transform: translateY(200%);
}

.subafter-vr2 h3,
.subafter-vr2 p {
  transform: translateY(50%);
  transition: 0.5s ease;
  opacity: 0;
}

.subafter-vr2:hover h1 {
  transform: translateY(-100%);
}

.subafter-vr2:hover h3 {
  transform: translateY(-50%);
  opacity: 0.8;
  line-height: 1;
  margin-bottom: 2%;
}

.subafter-vr2:hover p {
  transform: translateY(-100%);
  opacity: 0.8;
}

/* Text Translate Ends */
/* Innovate background-image*/
.subafter-vr2 {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 1s ease;
  overflow: hidden;
}

.subafter-vr2:hover::before {
  transform: scale(1.2);
  transition: 1s ease;
}

.subafter-vr2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/home/images/innovate.jpg);
  background-size: cover;
  background-position: center;
  transition: transform 1s ease;
  height: 100%;
  width: 100%;
}

.subafter-vr2:hover::after {
  transform: translateY(0%);
  height: 100%;
}

.subafter-vr2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 0%;
  width: 100%;
  background-color: rgba(20, 19, 19, 0.477);
  transition: 0.4s ease;
  transform: translateY(0%);
}

/* <<------ Innovate */
/* Accelerate ----->*/
/* Text Transform Starts */
.sub-after1 h1 {
  transition: 0.5s ease;
  transform: translateY(100%);
}

.sub-after1 h3,
.sub-after1 p {
  transform: translateY(50%);
  transition: 0.5s ease;
  opacity: 0;
}

.sub-after1:hover h1 {
  transform: translateY(-100%);
}

.sub-after1:hover h3 {
  transform: translateY(-250%);
  opacity: 0.8;
  line-height: 1;
}

.sub-after1:hover p {
  transform: translateY(-100%);
  opacity: 0.8;
}

/* Text Translate Ends */
/* Innovate background-image*/
.sub-after1 {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 1s ease;
  overflow: hidden;
}

.sub-after1:hover::before {
  transform: scale(1.2);
  transition: 1s ease;
}

.sub-after1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/home/images/accelerate.jpg);
  background-size: cover;
  background-position: center;
  transition: transform 1s ease;
  height: 100%;
  width: 100%;
}

.sub-after1:hover::after {
  transform: translateY(0%);
  height: 100%;
}

.sub-after1::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 0%;
  width: 100%;
  background-color: rgba(20, 19, 19, 0.477);
  transition: 0.4s ease;
  transform: translateY(0%);
}

/* <---- Accelerate*/
/* Assured ----->*/
/* Text Transform Starts */
.sub-after2 h1 {
  transition: 0.5s ease;
  transform: translateY(100%);
}

.sub-after2 h3,
.sub-after2 p {
  transform: translateY(0%);
  transition: 0.5s ease;
  opacity: 0;
}

.sub-after2:hover h1 {
  transform: translateY(-130%);
}

.sub-after2:hover h3 {
  transform: translateY(-250%);
  opacity: 0.8;
  line-height: 1;
}

.sub-after2:hover p {
  transform: translateY(-40%);
  opacity: 0.8;
}

/* Text Translate Ends */
/* Innovate background-image*/
.sub-after2 {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 1s ease;
  overflow: hidden;
}

.sub-after2:hover::before {
  transform: scale(1.2);
  transition: 1s ease;
}

.sub-after2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/home/images/assure.jpg);
  background-size: cover;
  background-position: center;
  transition: transform 1s ease;
  height: 100%;
  width: 100%;
}

.sub-after2:hover::after {
  transform: translateY(0%);
  height: 100%;
}

.sub-after2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 0%;
  width: 100%;
  background-color: rgba(20, 19, 19, 0.477);
  transition: 0.4s ease;
  transform: translateY(0%);
}

/* <---- Assured*/
/* Section 5  " Starts " */
/* Animation class Starts */
.animation-class {
  display: flex;
  height: 12vh;
  width: 80%;
  justify-content: space-evenly;
  position: relative;
  top: -80px;
  margin-left: 10%;
  margin-right: 10%;
}

.animated-c2,
.animated-c3,
.animated-c4 {
  width: 100%;
  text-align: center;
}

.animated-c1 {
  width: 100%;
  text-align: center;
}
.animated-c1 .plus-para1 {
  text-align: center;
  width: 15%;
  height: 35%;
  font-weight: 1000;
  margin-left: 38%;
  margin-top: 8%;
  color: white;
  background-color: black;
  font-size: 20px;
  border-radius: 100%;
  cursor: pointer;
}
.animated-c1 .plus-para1 #plus-1 {
  transition: 0.4s ease;
  margin-top: 10%;
}

.animated-c2 .plus-para2 {
  text-align: center;
  width: 15%;
  height: 35%;
  font-weight: 1000;
  margin-left: 38%;
  margin-top: 8%;
  color: white;
  background-color: black;
  font-size: 20px;
  border-radius: 100%;
  cursor: pointer;
}
.animated-c2 .plus-para2 #plus-2 {
  transition: 0.4s ease;
  margin-top: 10%;
}

.animated-c3 .plus-para3 {
  text-align: center;
  width: 15%;
  height: 35%;
  font-weight: 1000;
  margin-left: 38%;
  margin-top: 8%;
  color: white;
  background-color: black;
  font-size: 20px;
  border-radius: 100%;
  cursor: pointer;
}
.animated-c3 .plus-para3 #plus-3 {
  transition: 0.4s ease;
  margin-top: 10%;
}

.animated-c4 .plus-para4 {
  text-align: center;
  width: 15%;
  height: 35%;
  font-weight: 1000;
  margin-left: 38%;
  margin-top: 8%;
  color: white;
  background-color: black;
  font-size: 20px;
  border-radius: 100%;
  cursor: pointer;
}
.animated-c4 .plus-para4 #plus-4 {
  transition: 0.4s ease;
  margin-top: 10%;
}

/* Animation sub classes hover effects starts */
.animated-c1:hover #plus-1 {
  transform: rotate(360deg);
}

.animated-c2:hover #plus-2 {
  transform: rotate(360deg);
}

.animated-c3:hover #plus-3 {
  transform: rotate(360deg);
}

.animated-c4:hover #plus-4 {
  transform: rotate(360deg);
}

/* Animation sub classes hover effects Ends */
/* Animation class Ends */
/* Ring the sound of opportunity ---->> starts  */
.lastof-s4 {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0% 7.5%;
  margin-bottom: 5%;
  height: 60vh;
  justify-content: center;
  align-items: flex-start;
}
.lastof-s4 .lastof-div_cont {
  color: white;
  width: 60%;
  margin-bottom: 5%;
  font-size: 35px;
  margin-left: 5%;
}
.lastof-s4 .lastof-para_div {
  margin-left: 5%;
  width: 15%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 1s ease;
}
.lastof-s4 .lastof-para_div .lastof-anchorpara {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s ease;
}
.lastof-s4 .lastof-para_div #lastof-anchortag {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 8%;
  transition: 1s ease;
}

/* Read More Hover Effects */
.lastof-para_div:hover #lastof-anchortag {
  color: white;
  transition: 1s ease;
}

.lastof-para_div:hover .lastof-anchorpara {
  background-color: #151C4A;
  border: 2px solid white;
  transition: 1s ease;
}

/* Background-image 'The play button'  */
.lastof-s4 {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transition: 1s ease;
}

.lastof-s4:hover::before {
  transform: scale(1.2);
}

/* Inserting image through :: Before */
.lastof-s4::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/18/banner/launches-new-sonic-identity-lead.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: 1s ease;
  background-position: 100%;
}

/* Ring of opportunity ends*/
.ourpurpose-cont {
  height: 40vh;
  width: 100%;
}
.ourpurpose-cont .our-purose {
  height: 35vh;
  width: 80%;
  margin-left: 10%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid cornflowerblue;
  border-radius: 0 180deg 0 180deg;
}
.ourpurpose-cont .our-purose h1 {
  font-size: 40px;
}
.ourpurpose-cont .our-purose p {
  font-size: 25px;
  text-align: center;
}

/*                                             ABOUT - US STARTS ------>>                                      */
.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.about_us-sub-container1 {
  height: 20vh;
  width: 100%;
  text-align: center;
}
.about_us-sub-container1 .about-div2 {
  font-size: 30px;
  line-height: 1.5;
}
.about_us-sub-container1 .about-div3 {
  font-size: 20px;
  width: 50%;
  margin-left: 25%;
  font-family: Montserrat;
  font-weight: 100;
  color: rgb(171, 168, 168);
}

.about_us-sub-container2 {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  gap: 25%;
}
.about_us-sub-container2 .country-stats {
  width: 30%;
}
.about_us-sub-container2 .country-stats h4 {
  font-size: 50px;
}
.about_us-sub-container2 .country-stats h4 p {
  width: 20%;
}
.about_us-sub-container2 .revenue-stats {
  width: 30%;
}
.about_us-sub-container2 .revenue-stats h4 {
  display: flex;
  font-size: 20px;
}
.about_us-sub-container2 .revenue-stats span {
  font-size: 30px;
}
.about_us-sub-container2 .training-stats {
  width: 30%;
}
.about_us-sub-container2 .training-stats h4 {
  display: flex;
  font-size: 50px;
}
.about_us-sub-container2 .training-stats span {
  font-size: 30px;
}

/*  Investors Starts ---->> */
.investor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 2%;
}

.investor-sub-container1 {
  height: 30vh;
  width: 100%;
  text-align: center;
}
.investor-sub-container1 .investor-div1 p {
  font-size: 20px;
}
.investor-sub-container1 .investor-div2 {
  font-size: 35px;
}
.investor-sub-container1 .investor-div3 {
  font-size: 30px;
  font-weight: 100;
  font-family: Arial, sans-serif;
  color: rgba(134, 134, 134, 0.947);
}

.investor-sub-container2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.investor-sub-container2 .Annual-report-container {
  height: 60vh;
  width: 58%;
  margin-left: 5%;
}

.investor-central-container {
  margin-right: 5%;
  height: 60vh;
  width: 30%;
}
.investor-central-container .investors-div1 h3 {
  font-size: 40px;
  line-height: 1.5;
}
.investor-central-container .investors-div2 {
  height: 20%;
  border-bottom: 2px solid gray;
  line-height: 2;
}
.investor-central-container .investors-div2 p {
  color: rgb(147, 147, 147);
}
.investor-central-container .investors-div3 {
  height: 20%;
  border-bottom: 2px solid gray;
  line-height: 2;
}
.investor-central-container .investors-div3 p {
  color: rgb(147, 147, 147);
}
.investor-central-container .investors-div3 h3 {
  color: rgb(82, 82, 82);
}
.investor-central-container .investors-div4 {
  height: 20%;
  border-bottom: 2px solid gray;
  line-height: 2;
}
.investor-central-container .investors-div4 p {
  color: rgb(147, 147, 147);
}
.investor-central-container .investors-div4 h3 {
  color: rgb(82, 82, 82);
}
.investor-central-container .investor-anchor {
  height: 20%;
  line-height: 2;
}
.investor-central-container p {
  margin-top: 5%;
  color: rgb(147, 147, 147);
}
.investor-central-container h3 {
  color: rgb(82, 82, 82);
}
.investor-central-container #investor-anchor {
  text-decoration: none;
  color: #0067a0;
}

.Annual-report-container {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
  transition: 1.5s ease;
  overflow: hidden;
}

.Annual-report-container:hover::before {
  transform: scale(1.2);
  transition: 1.5s ease;
}

.Annual-report-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/24/banner/annual-report-2024-mob.jpg);
  height: 100%;
  width: 100%;
  transition: 1.5s ease;
}

/* Investors Ends */
/* Contact us starts */
.contact-us-container {
  height: 70vh;
  width: 100%;
  background-color: #af3dba;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.contact-us-container .contact-subcontainer1 {
  height: 50vh;
  width: 50%;
  display: flex;
  text-align: center;
}
.contact-us-container .contact-subcontainer1 .sub-cont-div1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
}
.contact-us-container .contact-subcontainer1 .sub-cont-div1 .americas {
  height: 50%;
  width: 100%;
  border: 1px solid white;
  padding: 25% 0%;
  transition: 1s ease;
}
.contact-us-container .contact-subcontainer1 .sub-cont-div1 .asia-pacific {
  width: 100%;
  height: 50%;
  padding: 25% 0%;
  border: 1px solid white;
  transition: 1s ease;
}
.contact-us-container .contact-subcontainer1 .sub-cont-div2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
}
.contact-us-container .contact-subcontainer1 .sub-cont-div2 .europe {
  width: 100%;
  height: 50%;
  padding: 25% 0%;
  border: 1px solid white;
  transition: 1s ease;
}
.contact-us-container .contact-subcontainer1 .sub-cont-div2 .middle-ease {
  width: 100%;
  height: 50%;
  padding: 25% 0%;
  border: 1px solid white;
  transition: 1s ease;
}

/* Contact-us Hover effects */
.asia-pacific:hover,
.europe:hover,
.middle-ease:hover,
.americas:hover {
  background-color: #d5d5d5;
  color: #801f7e;
  transition: 1s ease;
}

.contact-subcontainer2 {
  margin-left: 5%;
  width: 30%;
  height: 75%;
}
.contact-subcontainer2 h1 {
  height: 50%;
  font-size: 55px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}
.contact-subcontainer2 p {
  margin-top: 20%;
  width: 50%;
  height: 12%;
  text-align: center;
  background-color: black;
  transition: 1s ease;
}
.contact-subcontainer2 p a {
  display: inline-block;
  text-decoration: none;
  padding-top: 6%;
  color: white;
  transition: 1s ease;
}

.contact-us-anchor:hover {
  background-color: #801f7e;
  border: 1px solid black;
  transition: 1s ease;
}

.contact-us-anchor:hover #contact-us-anchor {
  color: black;
  transition: 1s ease;
}

/* Contact us ends * /

/* Footer Starts*/
.navlinks-container {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-part1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  line-height: 2;
}
.footer-part1 .subpart1 p a {
  text-decoration: none;
}
.footer-part1 .subpart2 p a {
  text-decoration: none;
}
.footer-part1 .subpart3 p a {
  text-decoration: none;
}
.footer-part1 .subpart4 p a {
  text-decoration: none;
}
.footer-part1 .subpart5 p a {
  text-decoration: none;
}

.END-DIV {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  height: 10vh;
  margin-left: 4%;
}
.END-DIV p {
  margin-left: 6%;
  font-size: 20px;
  margin-bottom: 4%;
}
.END-DIV form {
  margin-right: 2%;
  margin-bottom: 4%;
}

/* Finally End :)  */
/* Media query of header sections starts */
@media only screen and (min-width: 200px) and (max-width: 500px) {
  #nav {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5%;
  }
  #nav #head-infosys {
    width: 80%;
    height: 100%;
    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    margin: 0;
  }
  #nav #head-infosys #subhead-infosys {
    font-size: 30px;
    width: 50%;
    height: 50%;
  }
  #nav .nav-container {
    display: none;
  }
  #nav .hamburger-icon {
    width: 50px;
    height: 30px;
    margin-right: 0;
  }
  #nav #magnify-div {
    margin-top: 2em;
    margin-right: 0;
    width: 10%;
    height: 100%;
    display: inline-block;
  }
  #nav #magnify-div #magnify-anchor {
    display: inline-block;
    padding-top: 0;
    padding-right: 5%;
    width: 100%;
    height: 100%;
  }
}
/* Media query of header sections Ends */
@media only screen and (min-width: 200px) and (max-width: 500px) {
  #navhead-section {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 70%;
  }
  #navhead-section .text-head {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding-left: 1em;
    margin-top: 20%;
  }
  #navhead-section .text-head .text-h1 {
    width: 80%;
    height: 50%;
    margin-top: 0;
    font-size: 2.4em;
    margin-right: 0;
    font-stretch: narrower;
  }
  #navhead-section .text-head .text-p {
    margin-top: 28%;
    width: 50%;
    height: 20%;
  }
  .main_sect-container {
    height: 40em;
    width: 100%;
    background-size: cover;
    background-position: 80%;
  }
  .main_sect-container .sub-main_sect {
    height: 100%;
    width: 100%;
    padding-left: 0.5em;
  }
  .main_sect-container .sub-main_sect .div1 {
    height: 5em;
    width: 100%;
    margin-top: 1.3em;
  }
  .main_sect-container .sub-main_sect .div1 .digital-core {
    height: 2em;
    width: 11em;
    font-size: 2em;
    line-height: 1;
    margin-left: 0;
    margin-top: 1.5em;
  }
  .main_sect-container .sub-main_sect .div1 .build-vital {
    width: 100%;
    height: 2em;
    font-size: 1em;
    margin-left: 0;
    line-height: 1;
  }
  .main_sect-container .explore-div {
    height: 2em;
    width: 8em;
    margin-top: 25em;
    margin-left: 0;
  }
  .main_sect-container .case-st-container {
    display: none;
  }
}
@media only screen and (min-width: 200px) and (max-width: 500px) {
  #section-2 {
    height: 40em;
    font-size: 1em;
    background-size: cover;
    background-position: 20%;
  }
  #section-2 .main-sect-2 {
    height: 19em;
    width: 22.8em;
    float: left;
  }
  #section-2 .main-sect-2 .digital-model {
    margin-left: 1.8em;
    margin-top: 3em;
  }
  #section-2 .main-sect-2 .digital-model .dig-model {
    margin-top: 0;
    height: 7em;
    width: 20em;
  }
  #section-2 .main-sect-2 .digital-model .dig-model .dig-head {
    margin-top: 0;
    line-height: 1;
    font-size: 2em;
  }
  #section-2 .main-sect-2 .digital-model .dig-model .dig-para {
    margin-top: 1em;
    line-height: 1;
    font-size: 1.5em;
  }
  #section-2 .main-sect-2 .digital-model .dig-model .explore1-para {
    line-height: 1;
    width: 8em;
    height: 2em;
    margin-top: 21em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #section-2 .main-sect-2 .sub-digtal_model {
    display: none;
  }
}
@media only screen and (min-width: 200px) and (max-width: 500px) {
  .sec3-container {
    height: 40em;
    width: 100%;
    font-size: 1.3em;
    background-size: cover;
    background-position: 60%;
  }
  .sec3-container .sec3-div {
    height: 20em;
    width: 100%;
  }
  .sec3-container .sec3-div .sec3-subdiv-cont {
    height: 10em;
    width: 100%;
    line-height: 1;
    padding-left: 5%;
    margin-left: 0;
  }
  .sec3-container .sec3-div .sec3-subdiv-cont .sec3-subdiv-head {
    width: 100%;
    font-size: 1.6em;
    line-height: 1.3;
    margin-top: 2em;
  }
  .sec3-container .sec3-div .sec3-subdiv-cont .sec3-subdiv-para {
    margin-top: 0.8em;
    width: 14em;
    font-size: 1em;
    line-height: 1;
    margin-bottom: 0;
  }
  .sec3-container .sec3-div .sec3-subdiv-cont .sec3-subdiv-anchor_para {
    height: 1.7em;
    width: 7em;
    font-size: 0.9em;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22.5em;
  }
  .sec3-container .sec3-div .sec3-subdiv-cont .sec3-subdiv-anchor_para #sec3-explore {
    padding-top: 0.4em;
  }
  .sec3-container .sec3-div .sec3-subdiv-cont1 {
    height: 10em;
    width: 17.6em;
    display: none;
  }
}
@media only screen and (min-width: 200px) and (max-width: 500px) {
  #section-4 {
    background-color: antiquewhite;
  }
  #section-4 .sec4-the_next {
    width: 100%;
    height: 20em;
  }
  #section-4 .sec4-the_next .next-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #section-4 .sec4-the_next .next-content .the-next {
    font-size: 2em;
  }
  #section-4 .sec4-the_next .next-content .the-next-para p {
    font-size: 1.2em;
    margin-left: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media only screen and (min-width: 200px) and (max-width: 500px) {
  .transition-div {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: block;
  }
  .transition-div .vr-div {
    width: 100%;
    margin-left: 0;
    height: 100vh;
  }
  .transition-div .vr-div .suvdiv-vr h1 {
    transition: 1s ease;
    margin-bottom: 1em;
  }
  .transition-div .vr-div .suvdiv-vr h3 {
    display: none;
  }
  .transition-div .vr-div .suvdiv-vr p {
    line-height: 1;
  }
  .transition-div2 {
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 100%;
  }
}
@media only screen and (min-width: 200px) and (max-width: 500px) {
  .animation-class {
    width: 100%;
    height: 100vh;
    position: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
  .lastof-s4 {
    height: 80vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-size: cover;
    background-position: 50%;
  }
  .lastof-s4 .lastof-div_cont {
    width: 100%;
    margin-left: 0;
    padding-left: 5%;
  }
  .lastof-s4 .lastof-div_cont h3 {
    padding-left: 1.5em;
    font-size: 0.7em;
    width: 100%;
    margin-bottom: 2em;
  }
  .lastof-s4 .lastof-para_div {
    margin-top: 8em;
    width: 8em;
    height: 3.4em;
  }
  .lastof-s4 .lastof-para_div .lastof-anchorpara {
    width: 8em;
    height: 3em;
  }
  .ourpurpose-cont {
    height: 50vh;
    width: 100%;
  }
  .ourpurpose-cont .our-purose {
    height: 50vh;
    width: 100%;
    margin-left: 0;
    justify-content: space-between;
  }
  .ourpurpose-cont .our-purose h1 {
    font-size: 1.5em;
    width: 100%;
    line-height: 1;
    padding-top: 2em;
  }
  .ourpurpose-cont .our-purose p {
    line-height: 1;
    text-align: left;
    padding-bottom: 2em;
  }
  #abous_us {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  #abous_us .about-us-container {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  #abous_us .about-us-container .about_us-sub-container1 {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
  }
  #abous_us .about-us-container .about_us-sub-container1 .about-div1 {
    width: 100%;
    padding-left: 6.2em;
  }
  #abous_us .about-us-container .about_us-sub-container1 .about-div2 h2 {
    font-size: 1.5em;
    line-height: 1;
    padding-left: 1.5em;
  }
  #abous_us .about-us-container .about_us-sub-container1 .about-div3 {
    margin-left: 0;
    width: 100%;
    height: 15vh;
  }
  #abous_us .about-us-container .about_us-sub-container1 .about-div3 h3 {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0em 1.4em;
  }
  #abous_us .about_us-sub-container2 {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #abous_us .about_us-sub-container2 .country-stats {
    margin-top: 2em;
  }
  #abous_us .about_us-sub-container2 .country-stats h4 {
    margin-bottom: 0.5em;
  }
  #abous_us .about_us-sub-container2 .revenue-stats {
    margin-top: 2em;
  }
  #abous_us .about_us-sub-container2 .revenue-stats h4 {
    margin-bottom: 0.5em;
  }
  #abous_us .about_us-sub-container2 .training-stats {
    margin-top: 2em;
  }
  #abous_us .about_us-sub-container2 .training-stats h4 {
    margin-bottom: 0.5em;
  }
  #investors {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  #investors .investor-container {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  #investors .investor-container .investor-sub-container1 {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #investors .investor-container .investor-sub-container1 .investor-div1 {
    padding-top: 2em;
  }
  #investors .investor-container .investor-sub-container1 .investor-div2 {
    width: 100%;
    font-size: 1.4em;
    line-height: 1;
  }
  #investors .investor-container .investor-sub-container1 .investor-div3 {
    width: 100%;
    padding-top: 1em;
    font-size: 1em;
    line-height: 1;
  }
  .investor-sub-container2 {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
  }
  .investor-sub-container2 .Annual-report-container { /*:: before - image background container */
    height: 50vh;
    width: 100%;
    background-position: 40%;
    margin-left: 0;
    background-size: cover;
  }
  .investor-sub-container2 .investor-central-container {
    height: 100vh;
    width: 100%;
  }
  #contact-us-section .contact-us-container {
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
  }
  #contact-us-section .contact-us-container .contact-subcontainer1 {
    width: 100%;
    padding-top: 2em;
  }
  #contact-us-section .contact-subcontainer2 {
    display: block;
    width: 100%;
    height: 40vh;
    margin-left: 0;
  }
  #contact-us-section .contact-subcontainer2 h1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 2em;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 2em;
    line-height: 1.2;
  }
  #contact-us-section .contact-subcontainer2 p {
    width: 40%;
    margin-top: 2em;
    margin-left: 1em;
    height: 2em;
  }
  #contact-us-section .contact-subcontainer2 p a {
    padding-top: 5px;
  }
  .navlinks-container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navlinks-container .footer-part1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .END-DIV {
    display: flex;
    justify-content: space-evenly;
  }
  .END-DIV p {
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */